@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*::-webkit-scrollbar{
    display: none;
}


*{
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

html {
    max-height: 100vh;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-y: contain; /* Evita o efeito de elástico no final da rolagem */
    scroll-snap-stop: always;
  }
  
  body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Adicionado para evitar a barra de rolagem horizontal */
    touch-action: none;
    background-color: #eeeeee;
  }

  body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(assets/node.png) url(assets/nodeBlack.png) url(assets/html.png) url(assets/htmlBlack.png) url(assets/css.png) url(assets/cssBlack.png) url(assets/js.png) url(assets/jsBlack.png) url(assets/rn.png) url(assets/rnBlack.png);
 }

.top-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    position: relative;
}

.left-bg{
    background-color: #001c99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20%;
    position: relative;
}

.right-bg{
    background-color: #ffd325;
}

.pfp-wrap{
    height: 300px;
    width: 300px;
    position: absolute;
    top: calc(50% - 150px);
    right: calc(100% / 3 - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp-wrap::before{
    content: "";
    position: absolute;
    height: 75px;
    width: 75px;    
    background-image: url(./assets/wave.svg);
    background-repeat: repeat;
    background-size: 100% 15px; /* Ajuste o valor da altura (100px) conforme necessário */
    top: -10%;
    left: -10%;
    pointer-events: none;
    transition: .3s;
}

.pfp-wrap::after{
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    bottom: -13%;
    right: -10%;
    background: linear-gradient(90deg, #ffd325 18px, transparent 1%) center, linear-gradient(#ffd325 18px, transparent 1%) center, #001c99;
    background-size: 22px 22px;
    pointer-events: none;
    transition: .5s;
}

.pfp-wrap:hover img{
    height: 330px;
    width: 330px;
}

.pfp-wrap:hover::after{
    right: -8%!important;
    bottom: -11%!important;
}

.pfp-wrap:hover::before{
    top: -9.5%!important;
    left: -9.5%!important;
    height: 90px;
    width: 90px;
    background-size: 100% 17px; /* Ajuste o valor da altura (100px) conforme necessário */
}

.pfp{
    height: 300px;
    width: 300px;
    object-fit: contain;
    position: absolute;
    z-index: 2;
    transition: .5s;
    cursor: pointer;
}

.name{
    color: #ffd325;
    font-size: 32pt;
    margin: 0;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    height: 64px;
}

.name::before{
    content: "GUILHERME MENDES";
    position: absolute;
    background-color: #ffd325;
    color: #001c99;
    left: 0;
    width: 0;
    transition: .5s;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    height: 64px;
    text-decoration: line-through;
}

.name:hover{
    margin: 0;
}

.name:hover::before{
    width: 100%;
}

.nickname{
    color: white;
    font-size: 20pt;
    margin-top: 0!important;
    height: 40px;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid white; /* Opcional: simula o cursor piscando */
    max-width: fit-content;
}

.nickname > span {
  color: #ffd325!important; /* Cor personalizada para a primeira e última letra */
}

.nickname.pulse{
    animation: pulse 1s step-end infinite forwards;
}

.nickname.typing {
    animation: typing 1s steps(20);
  }
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes erasing {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes pulse {
    75%{
        border-right: none;
    }
    100%{
        border-right-color: white;
    }
}

.inset-border-wrap{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 25px 0;
    pointer-events: none;
    z-index: 999;
}

.inset-border-l{
    width: calc(100%/3 * 2 - 20px);
    height: calc(100% - 50px);
    border: 5px solid #ffd325;
    margin-left: 25px;
    left: 0;
    position: absolute;
    border-right: none;
    transition: .5s;
}

.inset-border-r{
    width: calc(100%/3 - 25px);
    height: calc(100% - 50px);
    border: 5px solid #001c99;
    margin-right: 25px;
    right: 0;
    position: absolute;
    border-left: none;
    transition: .5s;
}

.background-elements{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none
}

.circle-1{
    position: absolute;
    top: 120px;
    left: 120px;
    height: 100px;
    width: 100px;
}

.c-solid{
    width: 100px;
    height: 100px;
    background-color: #ffd325;
    border-radius: 50%;
    position: absolute;
}

.c-line{
    width: 100px;
    height: 100px;
    background-image: url(./assets/line.png);
    background-repeat: repeat;
    background-size: 10px;
    transform: rotateZ(45deg);
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 25px;
}

.sharp-waves{
    bottom: 100px;
    right: 100px;
    position: absolute;
    height: 37px;
    width: calc(22*5px);
}

.sp2{
    right: 78px;
    bottom: 70px;
}

.sp2 .sq{
    border-color: white!important;
}

.line-1, .line-2{
    height: 22px;
    position: absolute;
}

.sq{
    position: absolute;
    top: 0;
    transform: rotateZ(45deg);
    border: 1px solid #001c99;
}

.line-1 .sq{
    border-top: none;
    border-left: none;
}

.line-2 .sq{
    border-top: none;
    border-left: none;
}

.line-1 {
    top: 0;
}

.line-2{
    top: 15px;
}

.personal-info{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    gap: 10px;
    font-size: 16pt;
}

.personal-info > span{
    white-space: nowrap;
    color: #001c99;
    display: flex;
    align-items: center;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

#age{
    animation-delay: 1s;
}

#nac{
    animation-delay: 1.2s;
}

#form{
    animation-delay: 1.4s;
}

.bullet{
    display: block;
    width: 8px;
    height: 10px;
    background-color: #001c99;
    margin-right: 5px;
}

@keyframes slide {
    100%{
        transform: translateX(235px);
    }
}

.gh{
    position: absolute;
    bottom: 10%;
    left: 0;
    color: white;
    font-size: 18pt;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.left-bg a{
    text-decoration: none;
    color: white;
}

.gh-url{
    word-break: keep-all;
    white-space: nowrap;
    width: 0;
    position: relative;
    display: inline-block;
    overflow-x: hidden;
    transition: .7s;
}

.gh:hover .gh-url{
    width: 155px
}

.gh i{
    font-size: 25pt;
}

.section-indicator{
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 999;
    gap: 5px;
}

.section-indicator > div{
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
    border: 1px solid #001c99;
    transition: .5s;
    cursor: pointer;
}

.section-indicator > div.on{
    background-color: #001c99;
}

.comp-section{
    height: 100vh;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.comp-wrap{
    width: 100%;
    padding: 0 50px;
}

.comp-wrap h1{
    font-size: 3em;
    text-align: center;
}

.comp-items{
    display: flex;
    align-items: start;
    gap: 10px;
}

.comp-i{
    display: flex;
    width: calc(20%);
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31, 31, 31);
    padding: 20px 20px 0 20px;
    cursor: pointer;
    color: white;
}

.comp-i > div:first-child{
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .2s;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    top: -45px;
}

.comp-body p{
    
}

.info-wrap{
    display: flex;
}

.comp-info{
    margin-top: 25px;
    height: 50px;
    background-color: black;
    transition: 1s;
    color: white;
    overflow: hidden;
    padding: 10px;
}

.comp-info > span{
    display: inline-block;
    width: 100%;
    transition: 1s;
    overflow: hidden;
    white-space: nowrap;
}

.node:hover{
    outline: 1px solid rgba(108, 192, 74, 255);
    box-shadow: 0px 0px 10px rgba(108, 192, 74, 255);
}

.node:hover span{
    color: rgba(108, 192, 74, 255);
    filter: drop-shadow(0 0 5px rgba(108, 192, 74, 50));
}

.comp-node{
    background-image: url(assets/nodeBlack2.png);
}

.node:hover .comp-node{
    background-image: url(assets/node2.png);
    filter: drop-shadow(0 .125rem .25rem rgba(108, 192, 74, 255));
}

.comp-html{
    background-image: url(assets/htmlBlack.png);
}

.comp-html:hover{
    background-image: url(assets/html.png);
}

.comp-css{
    background-image: url(assets/cssBlack.png);
}

.comp-css:hover{
    background-image: url(assets/css.png);
}

.comp-js{
    background-image: url(assets/jsBlack.png);
}

.comp-js:hover{
    background-image: url(assets/js.png);
}

.comp-rn{
    background-image: url(assets/rnBlack.png);
}

.comp-rn:hover{
    background-image: url(assets/rn.png);
}

body[data-current-section='2'] .section-indicator > div{
    border-color: black;
}

body[data-current-section='2'] .section-indicator > div.on{
    background-color: black;
}

body[data-current-section='2'] .inset-border-wrap > div{
    border-color: black;
}

#infoNode{
    display: none;
}